
/* bar css */
.slider{ 
  margin-top: 40px;
  width: 50%;
  background: linear-gradient(to right, #ff2866,#f98c66,#bfba2e,#26cc94,#00c7a8,#00b7bc,#00a0db);
}
.mainContainer{
  background-color:#84b87d;
  padding-left: 20px;
  margin-bottom: 20px;
}
.wrapper {
  display: flex;
  align-items: center;
}
 